# Kaggle Notebook Analysis

This notebook is about understanding following notebook: [Kaggle Link](https://www.kaggle.com/yasserhessein/predict-future-sales-using-4-algorithms-regression)

In [1]:
import pandas as pd

In [2]:
# import the train data
df_train = pd.read_csv("data/technical/sales_train.csv")
df_test = pd.read_csv("data/technical/test.csv")

Not sure why exactly these features have been dropped

In [3]:
df_train.drop(['date_block_num','item_price'], axis=1, inplace=True)

In [4]:
df_train.head()

         date  shop_id  item_id  item_cnt_day
0  02.01.2013       59    22154           1.0
1  03.01.2013       25     2552           1.0
2  05.01.2013       25     2552          -1.0
3  06.01.2013       25     2554           1.0
4  15.01.2013       25     2555           1.0

Transform the date feature into months only

In [5]:
df_train['date'] = pd.to_datetime(df_train['date'], dayfirst=True)
df_train['date'] = df_train['date'].apply(lambda x: x.strftime('%Y-%m'))
df_train.head()

      date  shop_id  item_id  item_cnt_day
0  2013-01       59    22154           1.0
1  2013-01       25     2552           1.0
2  2013-01       25     2552          -1.0
3  2013-01       25     2554           1.0
4  2013-01       25     2555           1.0

Regroup and sum up `date`, `shop_id` and `item_id`. Returns a column with
values and 3 columns with the group descriptor.

Then pivot the table on indices `shop_id` and `item_id`. Put `date` as
column descriptor.

Then reindex the table to shift away from the `shop_id` index with the
60 shops.

Finally, output the head of the (transposed) table.

In [6]:
df = df_train.groupby(['date','shop_id','item_id']).sum()
df = df.pivot_table(index=['shop_id','item_id'], columns='date', values='item_cnt_day', fill_value=0)
df.reset_index(inplace=True)
df.head().T

          0   1   2   3   4
date
shop_id   0   0   0   0   0
item_id  30  31  32  33  35
2013-01   0   0   6   3   1
2013-02  31  11  10   3  14
2013-03   0   0   0   0   0
2013-04   0   0   0   0   0
2013-05   0   0   0   0   0
2013-06   0   0   0   0   0
2013-07   0   0   0   0   0
2013-08   0   0   0   0   0
2013-09   0   0   0   0   0
2013-10   0   0   0   0   0
2013-11   0   0   0   0   0
2013-12   0   0   0   0   0
2014-01   0   0   0   0   0
2014-02   0   0   0   0   0
2014-03   0   0   0   0   0
2014-04   0   0   0   0   0
2014-05   0   0   0   0   0
2014-06   0   0   0   0   0
2014-07   0   0   0   0   0
2014-08   0   0   0   0   0
2014-09   0   0   0   0   0
2014-10   0   0   0   0   0
2014-11   0   0   0   0   0
2014-12   0   0   0   0   0
2015-01   0   0   0   0   0
2015-02   0   0   0   0   0
2015-03   0   0   0   0   0
2015-04   0   0   0   0   0
2015-05   0   0   0   0   0
2015-06   0   0   0   0   0
2015-07   0   0   0   0   0
2015-08   0   0   0   0   0
2015-09   0   0   0   0   0
2015-10   0   0   0   0   0

Merging to add the label to the test data...

Drop the `ID`. That makes sense. Why is the first month dropped?

Then fill up the `NaN` values with `0`

Finally, output the head of the (transposed) table.

In [7]:
df_test = pd.merge(df_test, df, on=['shop_id','item_id'], how='left')
df_test.drop(['ID', '2013-01'], axis=1, inplace=True)
df_test = df_test.fillna(0)
df_test.head().T

,ID,shop_id,item_id,2013-01,2013-02,2013-03,2013-04,2013-05,2013-06,2013-07,...,2015-01,2015-02,2015-03,2015-04,2015-05,2015-06,2015-07,2015-08,2015-09,2015-10
0,0,5,5037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,1.0,1.0,1.0,3.0,1.0,0.0
1,1,5,5320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,5,5233,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,2.0,0.0,1.0,3.0,1.0
3,3,5,5232,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,4,5,5268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214195,214195,45,18454,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
214196,214196,45,16188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214197,214197,45,15757,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
214198,214198,45,19648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214199,214199,45,969,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Again: why is this exactly `2015-10` dropped?

In [ ]:
# split into train and test sets
Y_train = df['2015-10'].values
X_train = df.drop(['2015-10'], axis = 1)
X_test = df_test

print(X_train.shape, Y_train.shape)
print(X_test.shape)

Off to training...

`RandomForestRegressor` yields the best results